<div id="books-index">
    <% @books.each_slice(4) do |book|%>
        <div class="row">
            <% book.each do |book| %>
                <div class="col-md-3 col-sm-3">
                    <h5><%= book.title%> </h5>
                    <% if book.coverpath %>                   
                        <%= image_tag(book.coverpath)%>
                    <% end %>
                    <%= link_to 'Read More', book_path(book), class:'btn btn-primary'%>
                </div>
            <% end %>
        </div>
    <% end %>
</div>