/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    padding-top: 50px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 1.5rem;
}

header {
    background: #333;
    color: #fff;
    height: 80px;
    margin-bottom: 20px;
    padding-top: 16px;
}

footer {
    background: #333;
    color: #fff;
    height: 60px;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

#books-index {
    text-align: center;
}

#books-index img {
    width: 100%;
    height: 220px;
    padding: 5px;
    border: 1px #ccc solide;
}

#books-index h5 {
    height: 70px
}

#books-index .btn {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    padding-right: 10px;
}